@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:regular,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #ffffff;
  line-height: 1;
  font-family: "Cormorant Garamond";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Cormorant Garamond";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  scroll-behavior: smooth;
  background: #111;
  line-height: 130%;
  font-weight: 400;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 82.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  max-width: 1920px;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
  position: fixed;
  z-index: 10;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(77%, rgba(17, 17, 17, 0)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 77%, rgba(255, 255, 255, 0) 100%);
}

.header._header-scroll {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(77%, rgb(17, 17, 17)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgb(17, 17, 17) 77%, rgba(255, 255, 255, 0) 100%);
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 1500px;
  background: #111;
  z-index: 11;
}

.header__content {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.5);
  opacity: 0;
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-animation: header-opacity 1.5s ease-out both;
          animation: header-opacity 1.5s ease-out both;
}

@-webkit-keyframes header-opacity {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes header-opacity {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.header__instagram {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 24px;
}

.header__instagram svg {
  width: 100%;
  height: 100%;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 345px;
          flex: 0 1 345px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
}

.header__logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.header__logo svg path {
  fill: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo svg:hover path {
  fill: #cdaa7d;
}

.header__logo-link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__popup-button {
  height: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header__popup-button span {
  border-bottom: 1px solid #fff;
  width: 40px;
}

.header__popup-button span:nth-child(2) {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
}

.header__menu-popup {
  position: absolute;
  top: 0;
  right: -480px;
  max-width: 475px;
  width: 100%;
  z-index: 0;
  -webkit-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s;
}

.menu-open .header__menu-popup {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  right: 0;
  z-index: 10;
}

.header__popup-bg {
  position: absolute;
  width: 100%;
  max-width: 477px;
  top: 0;
  right: -480px;
  background: #ffffff;
  min-height: 1038px;
  -webkit-transition: all 1s ease-in-out 0.3s;
  transition: all 1s ease-in-out 0.3s;
}

.menu-open .header__popup-bg {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  right: 0;
}

.menu {
  font-weight: 600;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item,
.menu-portfolio__item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.menu__item::after,
.menu-portfolio__item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 0;
}

.menu__item:hover,
.menu-portfolio__item:hover,
.menu__item.active,
.active.menu-portfolio__item {
  color: #cdaa7d;
}

.menu__item:hover::after,
.menu-portfolio__item:hover::after,
.menu__item.active::after,
.active.menu-portfolio__item::after {
  border-bottom: 1px solid #cdaa7d;
  width: 100%;
}

.menu__icon {
  display: none;
}

.popup {
  background-color: #111111;
}

.popup::before {
  content: "";
  height: 80px;
  width: calc(100% - 5px);
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(77%, rgb(17, 17, 17)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(180deg, rgb(17, 17, 17) 77%, rgba(255, 255, 255, 0) 100%);
  z-index: 1;
}

.popup__body-container {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  min-height: 1038px;
}

.popup__content {
  height: 90vh;
  max-height: 1038px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  padding: 40px 80px;
  overflow: auto;
}

.popup__content::-webkit-scrollbar {
  width: 5px;
}

.popup__content::-webkit-scrollbar-thumb {
  background-color: #cdaa7d;
  /* Колір пальця прокрутки */
  border-radius: 5px;
  /* Радіус закруглення пальця прокрутки */
}

.popup__content::-webkit-scrollbar-track {
  background-color: #111111;
  /* Колір треку полоси прокрутки */
  border-radius: 5px;
  /* Радіус закруглення треку полоси прокрутки */
}

.popup__button {
  position: absolute;
  top: 40px;
  left: 80px;
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.popup__button button {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.popup__button button span {
  position: absolute;
  display: inline-block;
  width: 38px;
  border: 2px solid #fff;
  background-color: #fff;
  border-radius: 2px;
  -webkit-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
}

.popup__button button span:first-child {
  top: 50%;
  /* Початкова позиція креста вгорі кнопки */
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  /* Поворот першого креста */
}

.popup__button button span:last-child {
  top: 50%;
  /* Початкова позиція креста внизу кнопки */
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  /* Поворот другого креста */
}

.popup__button button:hover span {
  border-color: #cdaa7d;
}

.popup__menu {
  padding-top: 40px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 87px;
          flex: 1 0 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.popup__contacts,
.popup__work.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.popup__contacts h3,
.popup__work.section h3 {
  font-family: "EB Garamond";
  font-weight: 700;
  font-style: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 10px;
}

.popup__contacts a,
.popup__work.section a {
  white-space: nowrap;
}

.menu__icon.icon-menu {
  display: block;
  position: relative;
  width: 3.125rem;
  height: 1.25rem;
  z-index: 5;
  /* .menu-open & {
  	span {
  		width: 0;
  	}
  	&::before,
  	&::after {
  	}
  	&::before {
  		top: calc(50% - toRem(1));
  		transform: rotate(-45deg);
  	}
  	&::after {
  		bottom: calc(50% - toRem(1));
  		transform: rotate(45deg);
  	}
  } */
}

.menu__icon.icon-menu span {
  -webkit-transform: translateX(-10px);
      -ms-transform: translateX(-10px);
          transform: translateX(-10px);
}

.menu__icon.icon-menu span,
.menu__icon.icon-menu::before,
.menu__icon.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 40px;
  height: 0rem;
  border-bottom: 1px solid #ffffff;
}

.menu__icon.icon-menu::before {
  top: 0;
}

.menu__icon.icon-menu::after {
  bottom: 0;
}

.menu__icon.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu__icon.icon-menu:hover {
  -webkit-animation: button 1s infinite linear;
          animation: button 1s infinite linear;
}

.menu__icon.icon-menu:hover span,
.menu__icon.icon-menu:hover::before,
.menu__icon.icon-menu:hover::after {
  border-bottom: 1px solid #cdaa7d;
}

.footer__body {
  padding-top: 80px;
  border-top: 1px solid #ffffff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60px 297px 176px 176px;
  grid-template-columns: 60px 297px 176px 176px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  width: 40px;
  height: 40px;
}

.footer__logo a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.footer__logo svg path {
  fill: white;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__logo svg:hover path {
  fill: #cdaa7d;
}

.footer__copyright {
  margin: 80px 0 0;
  border-top: 1px solid #ffffff;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 4;
  grid-column-end: 5;
  padding: 30px;
}

.footer__text {
  text-align: center;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.section h3 {
  font-family: "EB Garamond";
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 10px;
}

.section a {
  white-space: nowrap;
}

.page__slider article {
  z-index: -1;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.page__slider article.active {
  -webkit-animation: openArticle 0.5s ease both;
          animation: openArticle 0.5s ease both;
}

@-webkit-keyframes openArticle {
  0% {
    z-index: 1;
    opacity: 0;
  }

  99% {
    opacity: 1;
  }

  100% {
    display: auto;
  }
}

@keyframes openArticle {
  0% {
    z-index: 1;
    opacity: 0;
  }

  99% {
    opacity: 1;
  }

  100% {
    display: auto;
  }
}

.home {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 100px;
}

.home.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home__hero {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1038px;
          flex: 0 1 1038px;
}

.home__bloc-ifo {
  text-align: center;
  font-weight: 700;
  font-size: 27px;
  line-height: 130%;
}

.home__icon-svg {
  margin-bottom: 60px;
}

.home__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home__text p {
  max-width: 868px;
}

.home__container {
  opacity: 0;
  -webkit-filter: blur(4px);
          filter: blur(4px);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.home__container._watcher-view {
  opacity: 1;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.no-webp .hero{
  background: url("../img/hero/bgc.png") center 50%/cover no-repeat; }

.hero {
  position: relative;
  z-index: 0;
  height: 100vh;
  max-height: 1038px;
  -webkit-animation: kenburns-top 1.5s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 0.3s;
          animation: kenburns-top 1.5s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 0.3s;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
}

.hero__container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 360px 0 100px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  font: 700 72px/120% "EB Garamond", sans-serif;
  text-align: center;
  padding: 0 15px;
  max-width: 555px;
  -webkit-animation: title-text 1s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 1.7s;
          animation: title-text 1s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 1.7s;
}

.hero__title i {
  font-style: normal;
  text-transform: uppercase;
  -webkit-animation: text-title-i 1.5s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 2.2s;
          animation: text-title-i 1.5s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 2.2s;
}

@-webkit-keyframes title-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes title-text {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes text-title-i {
  0% {
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
  }

  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

@keyframes text-title-i {
  0% {
    -webkit-filter: blur(1.5rem);
            filter: blur(1.5rem);
  }

  100% {
    -webkit-filter: blur(0);
            filter: blur(0);
  }
}

.hero__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 700;
  line-height: 140%;
  -webkit-animation: hero__footer 0.5s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 3.7s;
          animation: hero__footer 0.5s cubic-bezier(0.64, 0.02, 0.5, 0.51) both 3.7s;
}

@-webkit-keyframes hero__footer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hero__footer {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes kenburns-top {
  0% {
    background-size: 110% auto;
  }

  99% {
    background-size: 100% auto;
  }

  100% {
    background-size: cover;
  }
}

@keyframes kenburns-top {
  0% {
    background-size: 110% auto;
  }

  99% {
    background-size: 100% auto;
  }

  100% {
    background-size: cover;
  }
}

@-webkit-keyframes kenburns-bottom {
  0% {
    background-size: auto 110%;
  }

  99% {
    background-size: auto 100%;
  }

  100% {
    background-size: cover;
  }
}

@keyframes kenburns-bottom {
  0% {
    background-size: auto 110%;
  }

  99% {
    background-size: auto 100%;
  }

  100% {
    background-size: cover;
  }
}

.price__container {
  display: -ms-grid;
  display: grid;
  gap: 60px 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.price__card {
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 386px;
}

.price__card._watcher-view img {
  -webkit-animation: zoom 1s ease both;
          animation: zoom 1s ease both;
}

.price__card._watcher-view h3 {
  -webkit-animation: transform-text 1s ease-out forwards 0.2s;
          animation: transform-text 1s ease-out forwards 0.2s;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes transform-text {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes transform-text {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.price__title {
  font: 400 30px/120% "EB Garamond", sans-serif;
  opacity: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.brand__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.brand__svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300;
          flex: 0 1 300;
  cursor: pointer;
  fill: #FFFFFF;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brand__svg svg {
  width: 100%;
}

.brand__svg:hover {
  fill: #CDAA7D;
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 55px;
}

.portfolio__title {
  font: 700 48px/120% "EB Garamond", sans-serif;
}

.portfolio__menu {
  width: 100%;
  max-width: 742px;
  padding: 0 10px;
  font-size: 24px;
  gap: 10px;
}

.portfolio__menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__menu nav ul a {
  white-space: nowrap;
}

.portfolio__images {
  display: -ms-grid;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.portfolio__img-link {
  display: none;
  width: 0;
  height: 0;
  max-height: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio__img-link.active {
  display: block;
  opacity: 1;
  height: 100%;
  max-height: 416px;
  width: auto;
}

.menu-portfolio__body {
  position: sticky;
  font-size: 24px;
  top: 50px;
  background: #111111;
  -webkit-transition: top 0.8s ease 0s;
  transition: top 0.8s ease 0s;
}

.menu-portfolio__body.-fixed {
  margin-left: -26px;
  position: fixed;
  top: 90px;
  z-index: 1;
  height: 86px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

.menu-portfolio__item::after {
  bottom: -6px;
}

.master {
  display: none;
  padding: 180px 0 100px;
}

.master.active {
  display: block;
}

.master__title {
  font: 700 48px/120% "EB Garamond", sans-serif;
  text-align: center;
  color: #fff;
  margin-bottom: 80px;
}

.master__body-photo {
  display: -ms-grid;
  display: grid;
  gap: 60px 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.master__body-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.master__body-img._body-img {
  max-height: 595px;
}

.master__body-img._body-img img {
  height: 477px;
}

.master__body-img._body-img::before {
  height: 477px;
}

.master__name {
  font: 700 27px/130% "Cormorant Garamond", sans-serif;
}

.master__sub-title {
  font-size: 16px;
}

.price-master {
  display: none;
  padding: 180px 0 100px;
}

.price-master.active {
  display: block;
}

.price-master__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.price-master__body-title {
  text-align: center;
  font: 700 48px/120% "EB Garamond", sans-serif;
}

.price-master__body-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}

.price-master__sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price-master__sections:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.price-master__card-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 636px;
          flex: 0 1 636px;
  max-height: 536px;
}

.price-master__card-img img.price-master__img {
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.price-master__list-price {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 526px;
          flex: 0 1 526px;
}

.price-master__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.price-master__item {
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 20px;
}

.price-master__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-master__item-title {
  font: 700 27px/130% "Cormorant Garamond", sans-serif;
}

.price-master__sub-title {
  font: 400 18px/130% "Cormorant Garamond", sans-serif;
}

.price-master__money {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 73px;
          flex: 1 0 73px;
  text-align: end;
  font: 700 27px/130% "Cormorant Garamond", sans-serif;
}

.contakts {
  display: none;
}

.contakts.active {
  display: block;
}

.contakts__container {
  padding-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contakts__title {
  font: 700 48px/120% "EB Garamond", sans-serif;
  text-align: center;
}

.westeland {
  display: none;
}

.westeland.active {
  display: block;
}

._body-img {
  max-height: 320px;
  height: 100%;
  position: relative;
  padding: 20px 20px 0 0;
  margin-bottom: 30px;
  -webkit-transition: padding 0.3s ease 0s;
  transition: padding 0.3s ease 0s;
}

._body-img:hover {
  padding: 0;
}

._body-img::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: calc(100% - 20px);
  height: 300px;
  border: 0px solid rgba(205, 170, 125, 0);
  -webkit-transition: border 0.5s ease 0s;
  transition: border 0.5s ease 0s;
}

._watcher-view ._body-img::before {
  border: 1px solid #cdaa7d;
}

._body-img::before {
  -webkit-transition: border 0.5s ease 0s;
  transition: border 0.5s ease 0s;
}

._body-img._watcher-view::before {
  border: 1px solid #cdaa7d;
}

.img {
  overflow: hidden;
  max-width: 100%;
  height: 100%;
}

.img img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
}

._watcher-view .img img {
  -webkit-animation: zoom 1s ease-in both 0.5s;
          animation: zoom 1s ease-in both 0.5s;
}

.img img.height {
  height: auto;
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@media (max-width: 85em) {
  .home__hero {
    -ms-flex-preferred-size: 46.875rem;
        flex-basis: 46.875rem;
  }

  .hero__container {
    padding-top: 13.75rem;
  }
}

@media (max-width: 1077px) {
  .hero {
    -webkit-animation-name: kenburns-bottom;
            animation-name: kenburns-bottom;
  }
}

@media (max-width: 930px) {
  .brand__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .brand__svg {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }
}

@media (max-width: 800px) {
  .header__instagram {
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__body {
    -ms-grid-columns: 1fr 1fr auto;
    grid-template-columns: 1fr 1fr auto;
  }

  .footer__logo {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 4;
    grid-column-end: 5;
    width: 100%;
    text-align: center;
    height: 60px;
  }

  .price-master__sections:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .price-master__sections {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .price-master__card-img {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .price-master__list-price {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 693px) {
  ._body-img {
    padding: 0;
  }

  ._body-img::before {
    width: 100%;
    height: 100%;
  }

  ._body-img::before {
    border: 0px solid rgba(205, 170, 125, 0);
  }
}

@media (max-width: 555px) {
  .footer__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__logo {
    -ms-grid-column-span: 1;
    grid-column-end: 1;
  }

  .footer__copyright {
    -ms-grid-column-span: 1;
    grid-column-end: 1;
  }

  .section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 25px;
    gap: 10px;
    font-size: 20px;
  }

  .section h3 {
    margin-bottom: 0;
    font-size: 30px;
  }
}

@media (max-width: 30em) {
  .menu-portfolio__body {
    font-size: 1.125rem;
  }
}

@media (max-width: 20em) {
  .hero__title {
    font-size: 2.1875rem;
  }
}

@media (max-width: 47.99875em) {
  .home__icon-svg {
    height: 40px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .home__icon-svg svg {
    width: 50px;
    height: 100%;
  }

  .home__icon-svg {
    margin-bottom: 25px;
    width: 45px;
  }

  .home__text p {
    text-align: justify;
    font-size: 16px;
    line-height: 110%;
  }

  .hero__footer {
    display: none;
  }

  .portfolio__menu nav ul {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 29.99875em) {
  .header__instagram {
    display: none;
  }

  .header__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (min-width: 20em) and (max-width: 81em) {
@supports (padding-left: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem )) {
    .popup__content {
      padding-left: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem )) {
    .popup__content {
      padding-left: calc(0.625rem + 4.375 * (100vw - 20rem) / 61);
    }
}

@supports (padding-right: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem )) {
    .popup__content {
      padding-right: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem )) {
    .popup__content {
      padding-right: calc(0.625rem + 4.375 * (100vw - 20rem) / 61);
    }
}

@supports (left: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem )) {
    .popup__button {
      left: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem );
    }
}

@supports not (left: clamp( 0.625rem , -0.8094262295rem  +  7.1721311475vw , 5rem )) {
    .popup__button {
      left: calc(0.625rem + 4.375 * (100vw - 20rem) / 61);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.0204918033rem  +  6.1475409836vw , 5rem )) {
    .footer__body {
      padding-top: clamp( 1.25rem , 0.0204918033rem  +  6.1475409836vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.0204918033rem  +  6.1475409836vw , 5rem )) {
    .footer__body {
      padding-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 61);
    }
}

@supports (margin-top: clamp( 1.25rem , 0.0204918033rem  +  6.1475409836vw , 5rem )) {
    .footer__copyright {
      margin-top: clamp( 1.25rem , 0.0204918033rem  +  6.1475409836vw , 5rem );
    }
}

@supports not (margin-top: clamp( 1.25rem , 0.0204918033rem  +  6.1475409836vw , 5rem )) {
    .footer__copyright {
      margin-top: calc(1.25rem + 3.75 * (100vw - 20rem) / 61);
    }
}
}

@media (min-width: 85em) and (max-width: 120em) {
@supports (flex-basis: clamp( 46.875rem , 3.1607142857rem  +  51.4285714286vw , 64.875rem )) {
    .home__hero {
      -ms-flex-preferred-size: clamp( 46.875rem , 3.1607142857rem  +  51.4285714286vw , 64.875rem );
          flex-basis: clamp( 46.875rem , 3.1607142857rem  +  51.4285714286vw , 64.875rem );
    }
}

@supports not (flex-basis: clamp( 46.875rem , 3.1607142857rem  +  51.4285714286vw , 64.875rem )) {
    .home__hero {
      -ms-flex-preferred-size: calc(46.875rem + 18 * (100vw - 85rem) / 35);
          flex-basis: calc(46.875rem + 18 * (100vw - 85rem) / 35);
    }
}

@supports (padding-top: clamp( 13.75rem , -7.5rem  +  25vw , 22.5rem )) {
    .hero__container {
      padding-top: clamp( 13.75rem , -7.5rem  +  25vw , 22.5rem );
    }
}

@supports not (padding-top: clamp( 13.75rem , -7.5rem  +  25vw , 22.5rem )) {
    .hero__container {
      padding-top: calc(13.75rem + 8.75 * (100vw - 85rem) / 35);
    }
}
}

@media (min-width: 20em) and (max-width: 47.99875em) {
@supports (font-size: clamp( 2.1875rem , 0.535640542rem  +  8.2592972901vw , 4.5rem )) {
    .hero__title {
      font-size: clamp( 2.1875rem , 0.535640542rem  +  8.2592972901vw , 4.5rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 0.535640542rem  +  8.2592972901vw , 4.5rem )) {
    .hero__title {
      font-size: calc(2.1875rem + 2.3125 * (100vw - 20rem) / 27.99875);
    }
}
}

@media (min-width: 30em) and (max-width: 50em) {
@supports (font-size: clamp( 1.125rem , 0.5625rem  +  1.875vw , 1.5rem )) {
    .menu-portfolio__body {
      font-size: clamp( 1.125rem , 0.5625rem  +  1.875vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.5625rem  +  1.875vw , 1.5rem )) {
    .menu-portfolio__body {
      font-size: calc(1.125rem + 0.375 * (100vw - 30rem) / 20);
    }
}
}

@media (any-hover: none) {
  .menu__icon.icon-menu {
    cursor: default;
  }
}

.webp .hero{ background: url(../img/hero/bgc.webp) center 50%/cover no-repeat; }